[submodule "setup/ohmyzsh"]
	path = setup/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "setup/powerlevel10k"]
	path = setup/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "config/tmux/plugins/tmp"]
	path = config/tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
