[submodule "setup/ohmyzsh"]
	path = setup/ohmyzsh
	url = git@github.com/ohmyzsh/ohmyzsh.git
[submodule "setup/powerlevel10k"]
	path = setup/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
